/******** General *****/
@import "./Utils/variables";
@import "./Layout/header";
@import "./Layout/hero";
@import "./Layout/howitworkcs";
@import "./Layout/restaurants";
@import "./Layout/footer";
@import "./Layout/container";
@import "./Layout/body";
@import "./Components/buttons";
@import "./Components/loading";
@import "./Pages/kitchenbay";
@import "./Pages/elderflower";
@import "./Pages/shoreditch";
@import "./Pages/thelaybay";










.card__price {
  position: absolute;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  right: 20px;
  bottom: 20px;
}

.card__icon__checked {
  position: absolute;
  right: -80px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 40px;
  height: 55px;
  padding: 1rem;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.card__icon_checked__txt {
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  color: #99e2d0;;
}
.frame__card:hover .card__icon__checked {
  margin-right: 0;
}

.frame__card:hover .card__price {
  right: 100px;
  transition: all 1s ease-in-out;
}

.frame__card:hover .card__icon__checked {
  right: 0;
}